#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-grow: 1;
}
/* properties of the grid boxes */
.box {
    display: flex;
    flex-grow: 1;
    background-color: white;
}

/* changed properties of box after hover */
.alteredbox {
    background-color: black;
}