#container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-grow: 1;
}
/* properties of the grid boxes */
.box {
    display: flex;
    flex-grow: 1;
    background-color: white;
    border: 1px solid black; /* visualize the grid */
}

/* changed properties of box after hover */
.alteredbox {
    background-color: black;
}

#grid {
    margin: 40px 10px;
}